---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "About";

const identity = {
    firstName: "FirstName",
    hobbies: ["snowboarding", "coding", "drawing", "skateboarding", "soccer"],
};

const skills = ["HTML", "CSS", "Javascript", "React", "Astro", "Vue"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <Navigation />
		<h1>About</h1>
        <h2>This is a new Astro site</h2>
        <p>Working through testing out Astro's site setup and deployment. Also using GitHub and Netlify to show proof of concept.</p>
        <p>This site will continue to be updated as new features are tested out and built with the Astro Framework.</p>
        <p>Testing of some JS variable outputs in Astro. Name is {identity.firstName}</p>
        <p>Let's list out some arrays next.</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
	</body>
</html>
